---
---

img {
  max-width: 100%;
}

body {
  background-color: #fff;
}

h6 {
  font-size: 14px;
}

.home-page {
  padding-top: 12vh;
  padding-bottom: 12vh;
}

.about-me {
  padding-top: 20px;
}

.avatar-author {
  font-size: 12px;
  margin-top: 8px;
}
