---
layout: page
---

<div class="py-5">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-7 col-lg-6 col-xl-5 ">

      <div class="about-me">
        Hi there!
        <br /><br />
        I'm a researcher, programmer, film photographer, and open-source contributor living in Armenia. Balancing life
        between the analog charm of film photography and the digital world of computers.
        <br /><br />
        As someone who values freedom of speech, I prefer to avoid using pop platforms that are controlled by large
        corporations and instead opt for more independent options such as Mastodon, XMPP, WriteFreely, Pixelfed, etc.
        <br /><br />
        Thanks for stopping by!
        <br /><br /><br />

      </div>

      <h6>Social links:</h6>
      <ul style="line-height: 30px;">
        <li>
          <a href="https://analog.am/tigran" target="_blank">https://analog.am/tigran</a>
        </li>
        <li>
          <a href="https://github.com/tigransimonyan" target="_blank">https://github.com/tigransimonyan</a>
        </li>
      </ul>

      <h6>My projects:</h6>
      <ul style="line-height: 30px;">
        <li>
          <a href="https://outage.am" target="_blank">https://outage.am</a>
        </li>
        <li>
          <a href="https://joinrave.com" target="_blank">https://joinrave.com</a>
        </li>
        <li>
          <a href="https://zoomment.com" target="_blank">https://zoomment.com</a>
        </li>
        <li>
          <a href="https://analog.am" target="_blank">https://analog.am</a>
        </li>
        <li>
          <a href="https://բառարան.հայ" target="_blank">https://բառարան.հայ</a>
        </li>
      </ul>

      <h6>Contacts:</h6>
      <ul>
        <li>
          email: tigran@def.am
        </li>
        <li>
          xmpp: tigran@jabber.def.am
        </li>
      </ul>

      <iframe title="Pixelfed Profile Embed" src="https://analog.am/tigran/embed" class="pixelfed__embed"
        style="max-width: 100%; border: 0" width="400" height="600" allowfullscreen="allowfullscreen"></iframe>
      <script async defer src="https://analog.am/embed.js"></script>

      <div>
        <h6>
          Գտիր նմանատիպ այլ կայքեր
        </h6>
        <div>
          🎲 <a target="_blank" href="https://ծիր.հայ/պատահական">բացել պատահական կայք</a>
        </div>
      </div>
    </div>
  </div>

</div>